<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://www.hablemosdeandroid.com/" target="_android">El conocimiento es para compartirlo</a>
    </p>
    <p>
        <a href="https://john-molano.jimdosite.com/" target="_john ">John Molano</a>
    </p>
</div>